.flex-container {
    display:flex;
}

.div1 {
    background-color: skyblue;
    width: 50px;
}

.div2 {
    background-color: pink;
    width: 300px;
}

.div3 {
    background-color: skyblue;
    width: 75px;
}